#root {
  margin: 0 auto;
  --clr-primary: #ffa500;
  --clr-secondary: rgb(10, 131, 131);
  --clr-grey: hsl(210, 22%, 49%);
}

.main {
  display: flex;
  flex-direction: row-reverse;
  margin: 2rem;
  padding: 2rem;
  width: 80%;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: 5px solid #ffa500;
  padding: 0;
}

.cell {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--clr-grey);
}

.stats-container {
  display: flex;
  flex-direction: column;
}
